
~$otter_documentation.docx
~WRL0005.tmp
Processing/output/1img.jpg
Processing/output/2gray.jpg
Processing/output/4cannyMean.jpg
Processing/output/6cannyMeanEqualized.jpg
Processing/output/5cannyMedian.jpg
Processing/output/3grayEqualized.jpg
Processing/output/7cannyMedianEqualized.jpg
